---
import experiences from "../collections/experiences.json";
import AboutExperience from "../components/about-experience.astro";
import PageHeading from "../components/page-heading.astro";
import Layout from "../layouts/main.astro";
import Carousel from "../components/image-carousel.astro";
const slides = [
  { image: `/assets/images/apelago-pitch-3.jpg`, alt: "Image of Hanna standing on stage", caption: "Pitching at A'Pelago Initiative 2025" },
  { image: `/assets/images/apelago-pitch-2.jpg`, alt: "Image of Hanna standing on stage", caption: "Pitching at A'Pelago Initiative 2025" },
  { image: `/assets/images/apelago-stand.JPG`, alt: "Image of red painted market stand", caption: "Lokala market stand at A'Pelago Initiative 2025" },

];
---

<Layout title="About Me">
  <section class="relative z-20 max-w-2xl mx-auto my-12 px-7 lg:px-0">
    <PageHeading
      title="About Me"
      description="Hi there 👋 I’m a Junior Software Engineer at Fortum in Espoo. I focus on building low-code solutions that automate and support internal processes."
    />

    <img src=`/assets/images/betygsutdelning-hanna.PNG` class="relative z-30 w-full my-10 rounded-xl" />

    <!-- <h2 class="mb-2 text-2xl font-bold dark:text-neutral-200">Short Bio</h2> -->
    <p
      class="text-sm leading-6 text-text dark:text-text sm:leading-7 lg:leading-8 sm:text-base lg:text-lg"
    >
      I learn best through hands-on experience and by being proactive. I believe that if others can do something, it is also something I can learn. I’m comfortable stepping in front of an audience, whether it’s to teach, tutor, or simply share my experiences. I enjoy helping others with everything from setting up a printer to fixing a broken lampshade. 
      <br></br>
      I have a hands-on approach and don’t hesitate to pick up the phone or travel to meet people in order to get feedback, validate ideas, and learn more. I often have many creative ideas, but as Seppo Pennanen said, “tieto ilman toimintaa ei ole minkään arvosta” (knowledge without action is worthless). That’s why I try to make an effort to follow through on the ideas that truly matter to me. 
    </p>

    <h2
      class="mt-20 mb-2 text-2xl font-bold lg:mt-30 sm:mt-20 dark:text-neutral-200"
    >
      Experience
    </h2>
    <div class="px-5 py-10">
      {
        experiences.map((experience) => {
          return (
            <div class="pb-10 border-l-2 border-secondary last:border-l-0 dark:border-secondary">
              <AboutExperience
                dates={experience.dates}
                role={experience.role}
                company={experience.company}
                description={experience.description}
                logo={experience.logo}
              />
            </div>
          )
        })
      }
    </div>

    <Carousel slides={slides} />

    <h2 class="mt-20 mb-2 text-2xl font-bold lg:mt-30 sm:mt-20 dark:text-neutral-200">Get in Touch</h2>
    <p
      class="text-sm leading-6 text-text dark:text-text sm:leading-7 lg:leading-8 sm:text-base lg:text-lg"
    >
      Feel free to connect with me on <a
        href="https://www.linkedin.com/in/limanhanna/"
        target="_blank"
        class="text-indigo-400 underline">LinkedIn</a
      >, even though I don't post there very often. If you have a question, an idea, a project in mind, or just want to say hello, you can also send me an <a href="mailto:limanhanna@gmail.com" class="text-indigo-400 underline"
        >email</a
      >.
    </p>
  </section>
</Layout>
